.best {
    height: 100vh;
     background-image: url("/img/bg/bg-best.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
   }

.best__container {
    height: 100%;
  }


  .best__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  justify-content: space-between;
  margin-top: rem(55px);

    @include phones {
      flex-direction: column;
    }
  }

  .best__item {
    //display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 33.3%;
    padding: 0 rem(10px);

    @include phones {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: rem(25px);
      padding: 0;
    }
  }

  .best__icon {
    width: rem(100px);
    height: rem(100px);
    display: inline-block;
    //position: relative;
    //margin-bottom: rem(15px);
    @include phones {
      margin-right: rem(20px);
      width: 23%;
    }
  }

  .best__img{
    max-width: 100%;
    max-height: 100%;
  }

  .best-meat {
    width: rem(96.428px);
    height: rem(89.246px);
  }

  .best-hand {
    width: rem(73px);
    height: rem(85.875px);
  }

  .best-natural {
    width: rem(88px);
    height: rem(75.534px);
  }

  .best__desc {
    margin-top: rem(23px);
    @include phones {
      text-align: left;
      display: block;
      width: 77%;
      margin-top: 0;
    }
  }

  .best__subtitle {
    @include lifehack();
    font-size: rem(24px);
    font-weight: 500;
    color: $black;
    margin-bottom: rem(20px);
  }

  .best__text {
    color: $black;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
  }