.header {
    position: absolute;
    width: 100%;
    padding-top: rem(12px);
    z-index: 1;
}

.header-logo {
    width: rem(98.265px);
    height: rem(74.317px);
    z-index: 15;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper{
    margin-left: rem(15px);
}


.header__links {
    .btn {
        @include tablets {
            margin-right: rem(55px);
        }
    }
}