.nav {
    margin-right: rem(17px);
    @include tablets {
        display: none;
	}
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav__item{
    display: flex;
    align-items: center;
    margin-right: rem(17px);

    &:after {
        content: "";
        width: rem(4px);
        height: rem(4px);
        background-color: $white;
        border-radius: 50%;
        display: block;
        margin-left: rem(17px);
    }

    &:last-child {
		margin-right: 0;
		&:after {
			display: none;
        }
    }
}

.nav__link {
    //@include ubuntu(medium);
    //text-decoration: none;
    color: $white;
    font-size: rem(13px);
    text-transform: uppercase;
  }