.order {
    height: 100vh;
    background-image: url("/img/bg/bg-order.png");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

    .title {
        @include phones {
            font-size: rem(50px);
            font-weight: 400;
            line-height: rem(60.11px);
        }
    }
}

.form {
    display: flex;
    align-items: flex-start;
    margin-top: rem(44px);

    @include tablets {
        flex-direction: column;
        align-items: center;
    } 

    @include phones {
        margin-top: rem(30px);
    }
}

.form__col{
    width: 49%;
    margin-right: rem(20px);
    
    &:last-child{
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
        width: 65%;
    }

    @include phones {
        width: 95%;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(20px);
}

.form__block {
    flex: 1;
    margin-right: rem(20px);
    
    &:last-child{
        margin-right: 0;
    }

    @include phones {
        &:nth-child(3) {
            margin-right: 0;
        }
    }
}

.form__block-title {
    display: inline-block;
    color: #fff;
    font-size: rem(14px);
    font-weight: 300;
    margin-bottom: rem(9px);
}

.form__block--floor {
    @include phones {
        display: none;
    }
}

.form__input {
    width: 100%;
    border: 1px solid transparent;
    font-size: rem(14px);
    font-weight: 300;
    border-radius: 5px;
    padding: rem(7px) rem(15px);
}

.form__input--textarea {
    height: rem(110px);
}

.form__buttons {
    @include phones {
        .form__row {
            justify-content: center;
        }
    }
}

.form__radio {
    display: flex;
    margin-right: rem(20px);
    
    &:last-child{
        margin-right: 0;
    }
}

.form__radio-input {
    display: none;
}

.form__radio-fake{
    display: inline-block;
    height: rem(15px);
    width: rem(15px);
    background-color: #fff;
    border-radius: 50%;
    position: relative;

    &:after{
        content: '';
        display: inline-block;
        height: 0;
        width: 0;
        border-radius: 50%;
        background-color: $red;
      
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  }

.form__radio-input:checked {
    &+.form__radio-fake {
        &:after {
            height: rem(7px);
            width: rem(7px);
        }
    }
}

.form__block-title--button {
    margin-left: rem(10px);
}

.form__radio-checkbox { 

    .form__radio-fake {
        border-radius: rem(0px);
    }

    .form__radio-input {
        &+.form__radio-fake {
          &:after {
            background: transparent;
          }
        }
      }
      .form__radio-input:checked {
        &+.form__radio-fake {
          &:after {
            background: url("/img/form/checkbox.png") 50% no-repeat transparent;
            background-size: contain;
            width: rem(11px);
            height: rem(9px);
          }
        }
      }
}

.form__radio-submit {

    .form__radio-input {
    //@include inlineblock(middle);
    display: inline-block;
    margin-right: rem(20px);
    border: 0;
    background: $red;
    font-family: Ubuntu;
    font-weight: 500;
    font-size: rem(13px);
    text-transform: uppercase;
    border-radius: rem(5px);
    color: #ffffff;
    padding: rem(10px) rem(15px);
    cursor: pointer;
  }
  
  .form__radio-reset {
    padding-left: 0;
    padding-right: 0;
    font-weight: 300;
    font-size: 14px;
    text-transform: none;
    background: transparent;
    margin-right: 0;
  }
}