.review__popup{
  position: absolute;
  opacity: 0;
  transition: opacity .2s;

  &--active{
    background-color: black;
    opacity: .92;
    z-index: 15;
    
    width:100%;
    height:100%;
  }
}

.popup{
    background: $white;
    width: rem(460px);

    position: fixed;
    top:50%;
    left: 50%;
    z-index: 20;
    transform:translate(-50%,-50%);
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    visibility: hidden;
    opacity: .9;

    padding: rem(30px) rem(20px);
    border-radius: rem(5px);

    @include tablets{
        width: 80%;
    }

    &__close{
      position: absolute;
      right: 10px;
      top:10px;
      color: $red;
    }
    
    &__title, &__text{
      color: $black;
      font-size: rem(14px);
      font-weight: 300;
      line-height: 24px;
    }
    
    &__title{
      font-size: rem(14px);
      margin-bottom: rem(20px);
      @include gagalin;
    }
    
    &--active{
      visibility: visible;
    
    }
  }